body{
    background: #e2dcdc;
}

/* la div content qui contien tout le contenu*/
.content{
    background: white;
    width: 1000px;
    margin: 0 auto;
}

/* la class pour le retour à la normal du flux que j'utilise après chaque partie dans mon html */
.clear{
    clear: both;
}

header{
    font-size: 10px;
    padding-top: 50px;
}
/* style pour le mini titre et le grand titre (h1) */
header,h1{
    text-align: center;
    margin: 0 auto;
}
/* les deux tret au dessus et en dessous du h1 */
h1::before, h1::after{                         
    content: "";
    height: 1px;
    width: 300px;
    background: black;
    display: block;
    margin: 0 auto;
}

/* le menu dans la nav */
nav ul li{
    list-style: none;
    display: inline;
    font-style: italic;
    font-size: 12px;
}

nav ul{
    margin: 0 auto;
    text-align: center;
    padding: 0;
}


/*dimension pour tous les h2  */
h2{
    margin: 100px 0 0 0;
}

/*dimension pour tous les p  */
p{
    margin-top: 0;
}


/* Début menu 1 : "LE PLAT"  */
.menu1{
    margin-top: 100px;
    background: url('../img/plate.jpg') no-repeat left;
    background-position-x: 50px;
    height: 512px; 

}

/* le texte en italic "Exemple de plat" de la class .span */
.text1 .span{
    font-style: italic;

}

/* tret bas du txt en italic */
.text1 .span::after{
    content: "";
    height: 1px;
    width: 500px;
    background: black;
    float: right;
}

.text1 span{
    font-size: 12px;
    margin: 0;
}


.text1{   /* style pour tous les textes du 1èr menu */
    float: right;
    text-align: right;
    width: 180px;
    margin-top: 200px;
    padding-right: 100px;
}


/* Début menu 2 : "LA SALLE"  */
.menu2{
    margin-top: 20px;
    background: url('../img/resto_01.jpg') no-repeat;
    background-position: right;
    height: 490px;
}

/* style du texte pour .menu 2 et .menu4 */
.menu2 .text2, .menu4 .text4{
    float: left;
    margin-left: 50px; 
    width: 430px;

}


/* Début menu 3 : "LE SERVICE"  */                    
.menu3{
    background: url('../img/resto_02.jpg') no-repeat;
    background-size: 490px;
    background-position: left;
    height: 400px;
}

/* style texte de .menu3 et .menu5 esnsemble car code similaire  */
.menu3 .text3, .menu5 .text5{
    float: right;
    margin-right: 50px; 
    width: 430px;

}


 /* Début menu 4 : "LE DRESSAGE" */ 
 .menu4{
    background: url('../img/resto_03.jpg') no-repeat;
    background-position: right;
    height: 490px;
}


/* Début menu 5 : "LE GOÛT" */ 
.menu5{
    background: url('../img/resto_04.jpg') no-repeat;
    background-size: 490px;
    background-position: left;
    height: 450px;
}

/* style pour le tret bas du .menu2 .menu3 .menu4 et .menu5   car même code */
/* Attention car lors de l'affichage si le zoom est trop faible les trets disparaîsse */
.text2 h2::after, .text3 h2::after, .text4 h2::after, .text5 h2::after{
    content: "";
    height: 1px;
    width: 435px;
    background: black;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* la note pour tous les menus */
#note{
    color: white; 
    background : black;
    width: 200px;
}


/* ---------Le Footer--------- */
footer{    
    height: 400px;
    background: url('../img/plan.png') no-repeat;
    background-position: 430px 90px;
}

/* "city guide" dans le plan de paris */
footer span{    
    padding-left: 455px;
    display: inline-block;
    margin-top: 130px;
    font-size: 20px;
}


#septime{
    font-size: 40px;
    display: block;
    text-align: center;
    margin-top: 90px;
}

/* les deux trets pour SEPTIME */
#septime::before, #septime::after{ 
    content: "";
    height: 1px;
    width: 300px;
    background: black;
    display: block;
    margin: 0 auto;
}


.adresse{
    text-align: center;
    display: block;
    font-weight: 900;

}
